{% extends 'base.html.twig' %}

{% block title %}Hello HarryPotterController!{% endblock %}

{% block body %}

<div class="container">

	<div class="row">
		{% for c in questions %}
			<div class="col-5 m-4">
				<p>{{c}}</p>
			</div>
		{% endfor %}
	</div>

</div>

{% endblock %}
